.yo {
    border-radius: 50%;
    margin: 232x 20px ;
    
}
.informacion {
    background-color: tomato;

border: 2px solid black;
margin: 5px 60px;
padding: 25px;
width: 180px;


}
.Info2 {
    background-color: tomato;
border: 2px solid black;
margin: -640px 400px;
padding: 25px;
width: 180px;

}
.todo{
    display: flex;
}
.Info3{
    background-color: tomato;

border: 2px solid black;
margin:  600px 400px;
padding: 25px;
width: 180px;

}
.Info4{
    background-color: tomato;
border: 2px solid black;
margin:  -1830px 780px;
padding: 25px;
width: 180px;

}
.Info5{
    background-color: tomato;
border: 2px solid black;
margin:  1210px 60px;
padding: 25px;
width: 180px;

}
.Info6{
    
border: 7px solid black;
margin:  -2430px 0px;
padding: 670px;
width: 10px;

}
