.Fondo {
    margin: 2000px;

}
.FondoTwich {
    margin: 999px;
    margin-top: -4080px;
   
}
.Texto {
    margin: 2385px;
    margin-top: -2570px;
  
}
.Logo {
    margin: 2677px;
    margin-top: -2770px;
}

.Texto2 {
    margin: 2455px;
    margin-top: -2570px;
    color: white;
    font-size: 30px;
    font-family: 'Arial';
}
.Busqueda {
    margin: 2060px;
    margin-top: -3088px;
}
.Texto3 {
    margin: 2790px;
    margin-top: -1400px;
  
    
}
.Texto4 {
    margin: 2790px;
    margin-top: -2870px;
   

}
.Texto31 {
   
    width: 360px;
    height: 104px;
}
.Cuadro1 {
    margin: 2050px;
    margin-top: -2470px;

}
.Cuadro2{
    margin: 2050px;
    margin-top: -2000px;
}
.Texto5 {
    margin: 2090px;
    margin-top: -2700px;
}
.Texto6 {
    margin: 2450px;
    margin-top: -2070px;
}
.Texto7 {
    margin: 2650px;
    margin-top: -2762px;
}

.Texto8 {
    margin: 2850px;
    margin-top: -2962px;
}
.Texto9 {
    margin: 3050px;
    margin-top: -3162px;
}
.Texto10 {
    margin: 3250px;
    margin-top: -3362px;
}
.Texto11 {
    margin: 2150px;
    margin-top: -3162px;
}
.Texto12 {
    margin: 2050px;
    margin-top: -2050px;
}
.Texto13 {
    margin: 2550px;
    margin-top: -2550px;
}
.Texto14 {
    margin: 2850px;
    margin-top: -2480px;
}
.Texto15 {
    margin: 2250px;
    margin-top: -2780px;
}
.Texto16 {
    margin: 2385px;
    margin-top: -2070px;
}
.Texto17 {
    margin: 2205px;
    margin-top: -2290px;
}
.Texto17_1 {
    width: 1500px;
}
.Texto18 {
    margin: 2750px;
    margin-top: -2190px;
}
.Texto18_1 {
    width: 400px;
}
.Texto19 {
    margin: 2450px;
    margin-top: -3050px;
}
.Texto20 {
    margin: 3150px;
    margin-top: -2680px;
}
.Texto21 {
    margin: 2250px;
    margin-top: -2980px;
}
.Texto21_1 {
   width: 1400px;
}